<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Please sign up here</h1>

        <form method="POST">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    </div>

    <!-- {% if user_list %}

        <h1>User list</h1>
    <div>
        {% for user in user_list %}
        <ul>
            <li>First name : {{user.first_name}}</li>
            <li>Last name : {{user.last_name}}</li>
            <li>Email : {{user.email}}</li>
        </ul>
        {% endfor %}
    </div>

    {% endif %} -->
</body>

</html>